<launch>
    <arg name="rvizconfig" default="./rviz/urdf.rviz"/>
    <arg name="model" default="./xacro/juav.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <node name="juav_rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
